body.page-id-6 {
  .baiHero {
    min-height: 500px;
    display: flex;
  }
  .homeHero {
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }

  img.attachment-project {
    height: initial !important;
  }
}
