body.page-template-page-investment {
  .baiHero {
    min-height: 500px;
    display: flex;
    background-position: center !important;
  }
  .homeHero {
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }
}
